language: node_js
node_js:
  - node
cache:
  directories:
    - node_modules


# env:
# - TEST_SUITE=integration
# - TEST_SUITE=unit

# script: npm run test:$TEST_SUITE

# jobs:
#   include:
#     - stage: deploy
#       env: TEST_SUITE=none
#       install: skip # bundle install is not required
#       script: ./deploy.sh

# safelist
branches:
  only:
  - master
  - develop

jobs:
  include:
    - stage: linting code + unit tests
      script: echo performing code analysis
    - script: echo running unit tests
    - stage: integration + e2e tests
      if: branch = develop AND type != pull_request
      script: echo running integration tests
    - script: echo running e2e tests
    - stage: deploy to aws develop
      if: branch = develop AND type != pull_request
      script: echo deploying to aws develop
    - stage: e2e tests in develop
      if: branch = develop AND type != pull_request
      script: echo running live suitable e2e tests in aws develop
    - stage: deploy to production
      if: branch = master
      script: echo deploying to aws production
    - stage: e2e tests in production
      if: branch = master
      script: echo running live suitable e2e tests

# notifications:
#   slack: '<account>:<token>#team-backend'
#     on_success: change
#     on_failure: change
#     on_pull_requests: false