language: node_js
node_js:
  - node
cache:
  directories:
    - node_modules

# safelist
branches:
  only:
  - develop

stages:
  - name: lint
    if: type = pull_request
  - name: test (unit + integration + acceptance)
    if: type = pull_request
  - name: deploy
    if: type != pull_request
  - name: test (acceptance in dev)
    if: type != pull_request

jobs:
  include:
    - stage: lint
      script: echo performing code analysis
    - stage: test (unit + integration + acceptance)
      script: echo running unit tests
    - script: echo running integration tests
    - script: echo running acceptance tests
    - stage: deploy
      script: echo deploying to aws develop
    - stage: test (acceptance in dev)
      script: echo running live suitable e2e tests in aws develop

# notifications:
#   slack: '<account>:<token>#team-backend'
#     on_success: change
#     on_failure: change
#     on_pull_requests: false