language: node_js
node_js:
  - node
cache:
  directories:
    - node_modules

stages:
  # lint and unit test on every PR to merge into develop
  - name: lint
    if: type = pull_request AND branch = develop
  - name: test (unit)
    if: type = pull_request AND branch = develop
  # package when merging into develop or master and there is no tag
  - name: package
    if: tag IS blank and branch IN (develop, master)
  # make a release candidate or a release
  - name: release
    if: tag is present and branch = master

jobs:
  include:
    - stage: lint
      script: echo performing code analysis
    - stage: test (unit)
      script: npm run test
    - stage: package
      script: npm run package
    - stage: release
      script: if [ $TRAVIS_TAG != *RC ]; then type = prod; fi npm run release

# notifications:
#   slack: '<account>:<token>#team-backend'
#     on_success: change
#     on_failure: change
#     on_pull_requests: false