language: node_js
node_js:
  - node
cache:
  directories:
    - node_modules

stages:
  # lint and unit test on every PR to merge into develop
  - name: lint and unit test
    if: type = pull_request AND branch = develop
  # make a release candidate or a release
  - name: release
    if: tag IS present

jobs:
  include:
    - stage: lint and unit test
      script: echo performing code analysis
    - script: echo testing...
    - stage: release
      os: osx
      script: echo releasing osx...
    - stage: release
      os: linux
      env: CC=clang CXX=clang++ npm_config_clang=1
      compiler: clang
      script: echo releasing linux...


# notifications:
#   slack: '<account>:<token>#team-backend'
#     on_success: change
#     on_failure: change
#     on_pull_requests: false
