language: node_js
node_js:
  - node
cache:
  directories:
    - node_modules


#  env:
#   - TEST_SUITE=unit
#   - TEST_SUITE=integration
#   - TEST_SUITE=acceptance


# script: npm run test:$TEST_SUITE

# jobs:
#   include:
#     - stage: deploy
#       env: TEST_SUITE=none
#       install: skip # bundle install is not required
#       script: ./deploy.sh

# safelist
branches:
  only:
  - develop
  # - master

jobs:
  include:
    - stage: linting + unit + integration + e2e tests
      # if: type = pull_request
      # script: echo performing code analysis
      if: type = pull_request
      script: npm run test:unit
      if: type = pull_request
      script: npm run test:integration
      if: type = pull_request
      script: npm run test:acceptance
    - stage: deploy to aws develop
      if: type != pull_request
      script: echo deploying to aws develop
    - stage: e2e tests in develop
      if: type != pull_request
      script: echo running live suitable e2e tests in aws develop
    # - stage: deploy to production
    #   if: branch = master AND type != pull_request
    #   script: echo deploying to aws production
    # - stage: e2e tests in production
    #   if: branch = master AND type != pull_request
    #   script: echo running live suitable e2e tests

# notifications:
#   slack: '<account>:<token>#team-backend'
#     on_success: change
#     on_failure: change
#     on_pull_requests: false